.footer {
  position: relative;
  @include mq(tablet-small, max) {
    padding-top: 85px;
  }
  //wave-mob
  &::after {
    content: '';
    background: url('../img/wave-mob.png') no-repeat right;
    background-size: contain;
    position: absolute;
    right: 0px;
    top: -120px;
    width: 290px;
    height: 280px;
    z-index: 1;

    @include mq("991") {
      display: none;
    }
    @include mq(tablet-small, max) {
      top: -35px;
    }
  }
  .h3 {
    @include mq(tablet, max) {
      padding-right: 80px;
    }
  }
  &-inner {
    padding: 68px 48px 40px;
    position: relative;
    background: linear-gradient(0deg, rgba(18, 33, 70, 0.5) 0%, rgba(101, 126, 186, 0) 144.25%);
    border: 1px solid $border-color;
    backdrop-filter: blur(150px);
    border-radius: 32px 32px 0px 0px;
    z-index: 2;
    @include mq("991", max) {
      padding-bottom: 25px;
    }
    @include mq(tablet, max) {
      padding: 20px 12px 25px;
      border-radius: 24px 24px 0px 0px;
    }
    &::before {
      content: '';
      background: url('../img/capsula.png') no-repeat center;
      background-size: contain;
      position: absolute;
      left: -25px;
      bottom: 15px;
      width: 94px;
      height: 98px;

      @include mq("991", max) {
        left: auto;
        bottom: auto;
        right: -25px;
        top: -25px;
        transform: rotate(270deg);
        width: 101px;
        height: 104px;
      }
      @include mq(tablet, max) {
        right: -5px;
      }
    }
    //girl
    &::after {
      content: '';
      background: url('../img/footer-img.png') no-repeat right;
      background-size: contain;
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 310px;
      height: 300px;
      z-index: 3;
      @include mq("991", max) {
        display: none;
      }
    }
  }
  .undertitle {
    margin-top: 44px;
    margin-bottom: 20px;
    width: 570px;
    max-width: 100%;
    text-align: left;
    font-family: $helvetca_reg_font;
    @include mq(tablet, max) {
      margin-top: 16px;
    }
  }
  .left {
    @include mq("991") {
      width: 46%;
    }
  }
  .right {
    @include mq("991") {
      width: 54%;
    }
  }
  .first-row {
    flex-direction: column;
    @include mq(tablet-small) {
      @include space-between;
      flex-direction: row;

    }
  }
  .second-row {
    @include mq(tablet-small) {
      margin-top: 24px;
    }
  }
  .btn-row {
    margin-top: 20px;
    .button {
      @include mq(tablet-small, max) {
        width: 100%;
      }
    }
  }
  .form-row {
    input {
      @include mq(tablet-small, max) {
        margin: 8px 0
      }

    }
  }
  &-form {
    margin-bottom: 0;
  }
  .input-wrap {
    position: relative;
    width: 100%;
    @include mq(tablet-small) {
      width: 31.6%;
    }
    input {
      width: 100%;
    }
    .error-info {
      left: 0;
      bottom: -20px;
      @include mq(tablet-small, max) {
        bottom: -15px;
      }
    }
    @include mq(tablet-small, max) {
      margin-bottom: 20px;
    }
  }
  .textarea {
    width: 100%;
    height: 118px;
    margin: 8px 0;
  }
  &-copyright {
    margin-top: 90px;
    text-align: center;
    @include mq("991", max) {
      margin-top: 50px;
    }
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 120%;
      font-family: $light_font;
    }
    &::before {
      content: '';
      background: url('../img/wave.png') no-repeat center;
      background-size: contain;
      position: absolute;
      left: 25%;
      bottom: 0;
      width: 135px;
      height: 98px;

      @include mq(desktop-wide, max) {
        left: 15%;
      }

      @include mq("991", max) {
        display: none;
      }

      
    }
  }

  
  
  
}

