.modalbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100Vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 25, 0.5);
  backdrop-filter: blur(16px);
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease;
  z-index: 1000;
  
  &.active {
    visibility: visible;
    opacity: 1;
  }
  
  &.open {
    .modal-contact-us {
      top: 0;
      visibility: visible;
      opacity: 1;
    }
  }

}

.modal-contact-us {
  top: -200px;
  padding: 45px;
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease;
  background: rgba(18, 16, 26, 0.9);
  border: 1px solid rgba(218, 218, 218, 0.15);
  backdrop-filter: blur(24px);
  border-radius: 16px;
  @include mq(tablet, max) {
    border-radius: 0;
  }
  @include mq(phablet, max) {
    background: rgba(17, 21, 34, 0.6);
    backdrop-filter: blur(13px);
    padding: 84px 12px;
  }
  &-wrap {
    // padding-top: 200px;
    position: relative;
    width: 732px;
    max-width: 100%;
    @include mq(phablet, max) {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }
    
    &::before {
      content: "";
      position: absolute;
      bottom: -40px;
      right: -30px;
      width: 111px;
      height: 115px;
      transform: rotate(110deg);
      background: url('../img/capsula.png') no-repeat;
      background-size: contain;

      @include mq(tablet, max) {
        display: none;
      }
    }
  }
  
  .title-wrap {
    text-align: center;
    @include mq(phablet, max) {
      width: 224px;
      margin: auto;
    }
  }
  .h3 {
    margin-bottom: 12px;
    font-size: 2.375rem;
    line-height: 50px;
    @include mq(desktop-wide, max) {
      font-size: 1.5rem;
      line-height: 31px;
    }
  }
  
  .burger.close {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    margin-right: 0;
    @include mq(phablet, max) {
      border: 1px solid rgba(255, 255, 255, 0.2);
      right: 12px;
      top: 20px;
    }
  }

  

  form {
    position: relative;
    margin-top: 43px;
    margin-bottom: 0;
    @include mq(desktop-wide, max) {
      margin-top: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 70px;
      left: -90px;
      width: 97px;
      height: 112px;
      background: url('../img/mail.png') no-repeat;
      background-size: contain;

      @include mq(tablet, max) {
        display: none;
      }
    }
    

    .fieldset {
      position: relative;
      padding: 0 0 30px;
      @include mq(desktop-wide, max) {
        padding-bottom: 15px;
      }

      &.flex {
        display: flex;
        justify-content: space-between;

        @include mq(phablet, max) {
          display: block;
        }

        .item {
          width: calc(50% - 12px);

          @include mq(phablet, max) {
            width: 100%;

            &:first-child {
              margin: 0 0 15px;
            }
          }
        }
      }

      label {
        display: block;
        margin: 0;
        padding: 0 0 8px;
        font-size: 16px;
        line-height: 18px;
        @include mq(phablet, max) {
          font-size: 14px;
          line-height: 120%;
        }
      }

      input,
      textarea {
        display: block;
        width: 100%;
        height: 65px;
        padding: 0 20px;
        font-size: 16px;
        outline: 0;


        &.error {
          border-color: #CC4F13;
        }
      }

      textarea {
        max-width: 100%;
        min-width: 100%;
        height: 128px;
        padding: 20px;
      }

      div.errorinfo {
        position: absolute;
        top: 100px;
        left: 0;
        background: linear-gradient(258.23deg, #F12959 -18.28%, #CC4F13 111.98%);
        background-clip: text;
        font-size: 12px;
        line-height: 14px;
        color: transparent;
        visibility: hidden;
        opacity: 0;
        transition: visibility .35s ease, opacity .35s ease;
      }

      input.error+div.errorinfo {
        visibility: visible;
        opacity: 1;
      }
    }

    button {
      width: 100%;
      height: 60px;
    }
  }
}


.modalsuccess {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100Vh;
  background: rgba(10, 10, 10, .5);
  backdrop-filter: blur(6px);
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease;
  z-index: 1100;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .info {
    position: relative;
    max-width: 488px;
    width: 100%;
    padding: 40px 20px;
    border-radius: 16px;
    background: rgba(18, 16, 26, 0.9);
    @include mq(phablet, max) {
      width: 90%;
    }
    

    .close_modalsuccess {
      position: absolute;
      top: 20px;
      right: 20px;
      display: block;
      width: 32px;
      height: 32px;
      padding: 0;
      margin: 0;
      border: 0;
      background: transparent;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        content: "";
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }

      &:hover {

        &:before,
        &:after {
          background: linear-gradient(273.8deg, #C83C29 3.46%, #F27E26 98.16%);
        }
      }
    }

    

    
  }
}