/* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 52px;
  padding: 17px 12px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: rgba(58, 64, 77, 0.25);
  color: $primary_color;
  border-radius: 4px;
  border: 1px solid #4A5061;
  font-family: $helvetca_reg_font;
  opacity: 0.5;
  line-height: 120%;

  &::placeholder {
    color: $placeholder_color;
  }

  &:focus {
    border-color: $third_color;
  }
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 45px;
  padding-top: 20px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  // border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

form {
  input,
  textarea {
    &.error {
      border-color: $error;

      &+.error-info {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.error-info {
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  color: $error;
  visibility: hidden;
  opacity: 0;
  transition: visibility .35s ease, opacity .35s ease;
}