.hero {
  padding-top: 165px;
  padding-bottom: 75px;
  position: relative;
  @include mq (tablet, max) {
    padding-top: 130px;
    padding-bottom: 0;
  }

  h1 {
    font-size: 2.375rem;//38px
    line-height: 3.125rem;
    margin-bottom: 32px;
    @include mq (desktop-wide, max) {
      font-size: 1.75rem;//28px
      line-height: 2.4rem;
      
    }
    @include mq (tablet-wide, max) {
      text-align: center;
    }
    @include mq (tablet, max) {
      font-size: 1.3125rem;//21px
      line-height: 1.6875rem;
    }
  }

  &__img-desktop {
    position: absolute;
    left: 0;
    top: 0;
    width: 835px;
    @include mq ("1730", max) {
      width: 710px;
    }
    @include mq (desktop-wide, max) {
      width: 615px;
    }
    @include mq (desktop, max) {
      width: 545px;
    }
    @include mq (sm-comp, max) {
      width: 495px;
    }
    @include mq (tablet-wide, max) {
      display: none;
    }
  }
  &__img-mobile {
    margin-bottom: 10px;
    @include mq (tablet-wide) {
      display: none;
    }
  }
  
  
  &__btn {
    margin-top: 32px;
    @include mq (tablet-wide, max) {
      display: none;
    }

    .button {
      width: 251px;
      max-width: 100%;
      height: 59px;
    }
  }


}