.offer {
	padding-top: 150px;
	padding-bottom: 150px;
	@include mq(tablet-wide, max) {
		padding-top: 75px;
		padding-bottom: 90px;
	}
	h2 {
		margin-bottom: 50px;
		@include mq(tablet, max) {
			margin-bottom: 27px;
		}
	}
	&__img-desk {
		@include mq(tablet-wide, max) {
			display: none;
		}
	}
	&__img-mob {
		@include mq(tablet-wide) {
			display: none;
		}
		margin-bottom: 25px;
		margin-left: -16px;
		margin-right: -16px;
	}
	&-img {
		img {
			animation-name: Appearance;
			animation-duration: .5s;
			animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
		}
	}
}
.accordion {
	&::before {
		content: '';
		background: url('../img/capsula.png') no-repeat center;
		background-size: contain;
		position: absolute;
		right: -60px;
		top: -75px;
		width: 198px;
		height: 205px;
		transform: rotate(-150deg);
		@include mq(desktop, max) {
			display: none;
		}
	}
	.title {
		position: relative;
		padding-right: 40px;
		font-family: $medium_font;
		font-size: $large-font-size;
		line-height: 29px;
		margin-bottom: 15px;
	}
	&>ul {
		&>li {
			border: 1px solid transparent;
			padding: 24px 24px 0;
		}

	}
	.active {
		background: rgba(18, 16, 26, 0.9);
		border: 1px solid rgba(218, 218, 218, 0.15);
		backdrop-filter: blur(4px);
		border-radius: 16px;
		.arrow-down::after {
			transform: rotate(225deg);
		}
	}
	.submenu {
		display: none;
		padding-right: 45px;
		li {
			padding-bottom: 24px;
			color: #A7A4B6;
			&:last-child {
				padding-bottom: 5px;
			}
		}
	}

}

.accordion {
	width: 620px;
	max-width: 100%;
	margin-left: auto;
	@include mq(tablet-wide, max) {
		margin-right: auto;
	}
	@include mq("991", max) {
		width: 100%;
	}

	.tab {
		position: relative;
		overflow: hidden;
		border: 1px solid transparent;
		padding: 24px 24px 0;
		border: 1px solid transparent;
		@include mq(tablet, max) {
			padding-left: 16px;
			padding-right: 16px;
			padding-top: 0;
		}
		&.active {
			background: rgba(18, 16, 26, 0.9);
			border: 1px solid rgba(218, 218, 218, 0.15);
			backdrop-filter: blur(4px);
			border-radius: 16px;
			padding-bottom: 24px;
			
		}

		input {
			position: absolute;
			opacity: 0;
			z-index: -1;

			/* :checked */
			&:checked~.tab-content {
				max-height: 100%;
			}

			&[type=checkbox]:checked+label::after {
				transform: rotate(225deg);
				top: 10px;
				@include mq("991", max) {
					top: 0;
				}
			}
		}

		label {
			margin-bottom: 15px;
			position: relative;
			/* Icon */
			&::after {
				content: '';
				position: absolute;
				transform: rotate(45deg);
				top: 10px;
				right: 0;
				border: solid $white;
				border-width: 0 6px 6px 0;
				padding: 5px;
				transition: all 0.2s ease-out;
				transform-origin: center;
				@include mq("991", max) {
					top: 0;
				}
			}
		}

		.tab-title {
			position: relative;
			padding-right: 40px;
			font-family: $medium_font;
			font-size: $large-font-size;
			line-height: 29px;
			@include mq(tablet, max) {
				font-size: $medium-font-size;
				line-height: 23px;
			}
		}

		&-content {
			max-height: 0;
			overflow: hidden;
			transition: all .3s ease-out;
			p {
				padding-bottom: 24px;
				color: #A7A4B6;
				@include mq(tablet, max) {
					font-size: $base-font-size;
					line-height: 130%;
				}

				&:last-child {
					padding-bottom: 5px;
				}
			}
		}
	}

}


@keyframes Appearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}