.resources {
  padding-top: 70px;
  padding-bottom: 80px;
  @include mq(tablet-wide, max) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.list-logo {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  background: transparent;
  @include mq(tablet, max) {
    margin-right: -15px;
    margin-left: -30px;
  }

  &-item {
    position: relative;
    flex: 1 0 20%;
    padding-bottom: 10%;

    @include mq("1350") {
      height: 200px;
    }

    @include mq("991") {
      height: 120px;
    }
    .text {
      p {
        &:first-child {
          font-size: 2.75rem;
          font-family: $number_font;
          line-height: 48px;
          text-align: center;
          letter-spacing: 0.02em;
          background: $title-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include mq("991", max) {
            font-size: 2.375rem;
            line-height: 2.375rem;
          }
        }
        &:last-child {
          margin-top: 8px;
          font-size: 16px;
          font-family: $helvetca_reg_font;
          line-height: 16px;
          letter-spacing: 0.03em;
          @include mq("991", max) {
            font-size: .75rem;
          }
        }

      }
    }
  }

  //rows: 2
  .slick-slide {
    &>div {
      padding: 30px;
      width: 200px;
    }
  }

  .logo-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include flex-center;
    @include mq(desktop-wide, max) {
      padding: 0 25px;
    }
    @include mq("991", max) {
      padding: 0;
    }

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }

  }
}