.testimonials {
  padding-top: 120px;
  padding-bottom: 70px;
  .bg {
    &::before {
      content: '';
      background: url('../img/testiomonials/torus-half.png') no-repeat center;
      background-size: contain;
      width: 443px;
      height: 450px;
      position: absolute;
      top: -140px;
      right: -150px;
      z-index: -1;
      @include mq("1730", max) {
        right: -50px;
      }
      @include mq(desktop-wide, max) {
        top: -100px;
        right: -150px;
      }
      @include mq("1350", max) {
        top: -80px;
        right: -80px;
      }
      @include mq(desktop, max) {
        display: none;
      }
    }

  }

  @include mq(tablet-wide, max) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h2 {
    margin-bottom: 65px;
    @include mq(tablet-wide, max) {
      margin-bottom: 30px;
    }
  }
  
  &-inner {
    padding: 50px 0 55px 40px;
    background: $second-bg-gradient;
    border: 1px solid $border-color;
    backdrop-filter: blur(150px);
    border-radius: 8px;
    @include mq("991", max) {
      padding: 0;
      background: none;
      border: 0;
      backdrop-filter: none;
    }
    
  }
  &-avatars {
    margin: 0 auto 80px;
    width: 480px;
    @include mq("991", max) {
      margin-bottom: 30px;
      
    }
    @include mq(tablet-small, max) {
      width: 290px;
    }
    @include mq(m, max) {
      width: 230px;
    }
    .testimonials-card {
      padding: 0 15px;
      width: 80px;
      @include mq(tablet-small, max) {
        padding: 0 6px;
        width: 48px;
      }
      @include mq(m, max) {
        width: 38px;
      }
      .avatar:not(.is-active) {
        width: 100%;
        padding: 0;
        border: none;
      }
    }
    .slick-slide {
      opacity: 0.3;

      &.slick-current {
        opacity: 0.3;
      }

      &.is-active {
        opacity: 1;
        border: 2px solid $third_color;
        padding: 7px;
        border-radius: 50%;
        width: 68px;
        @include mq(tablet-small, max) {
          padding: 5px;
          width: 50px;
        }
        @include mq(m, max) {
          width: 40px;
        }
      }
    }
    .slick-track {
      display: flex;
      align-items: center;
    }
  }

  &-lists-slider {
    @include mq("991", max) {
      background: $second-bg-gradient;
      border: 1px solid $border-color;
      backdrop-filter: blur(150px);
      border-radius: 8px;
    }
  }

  &-card {
    padding: 0 60px;
    width: 760px;
    @include mq("991", max) {
      width: 560px;
      padding: 16px;
    }
    @include mq(tablet-small, max) {
      width: 340px;
    }
    @include mq(m, max) {
      width: 280px;
    }
    
    &-header {
      display: flex;
      align-items: center; 
    }
    .h4 {
      font-size: 26px;
      line-height: 34px;
      @include mq("991", max) {
        font-size: 16px;
        line-height: 21px;
      }
    }
    .avatar {
      width: 83px;
      border: 2px solid $third_color;
      border-radius: 50%;
      padding: 10px;
      flex-shrink: 0;
      img {
        border-radius: 50%;
      }
    }
    .title {
      margin-left: 20px;
    }
    // .profile-link {
    //   margin-top: 16px;
    //   color: $lawny_color;
    //   text-decoration: revert;
    //   font-size: 13px;
    //   line-height: 13px;
    //   font-family: $helvetca_reg_font;
    //   @include mq("991", max) {
    //     margin-top: 10px;
    //   }
    // }
    &-body {
      margin-top: 40px;
      font-size: 18px;
      line-height: 150%;
      font-family: $helvetca_reg_font;
      @include mq("991", max) {
        margin-top: 24px;
        font-size: 18px;
      }
    }
    .logo-box {
      margin-top: 28px;
      @include mq("991", max) {
        margin-top: 24px;
      }
    }

  }
  .slick-slide{
    opacity: 0.3;
    &.slick-current {
      opacity: 1;
    }
    &.is-active .avatar {
      border-color: $third_color;
      opacity: 1;
    }
  }
  .arrow {
    @include mq("991", max) {
      top: -21%;
    }
    @include mq(tablet-small, max) {
      width: 11px;
      height: 18px;
      top: -14%;
    }
    @include mq(m, max) {
      top: -13%;
    }
  }
  .next {
    right: 40px;
    @include mq("991", max) {
      right: 0;
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 18px;
  height: 37px;
  border: none;
  background: transparent;
  
}

.prev {
  background: url('../img/prew.svg') no-repeat center;
  background-size: contain;
  left: 0px;
}

.next {
  background: url('../img/next.svg') no-repeat center;
  background-size: contain;
  right: 0;
}