
* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth; // for anchor tags
}

body {
  font-family: $regular_font;
  margin: 0px;
  font-size: $base-font-size;
  line-height: 24px;
  color: $primary_color;
  background-color: $main-bg;
  @include mq(tablet) {
    font-size: $medium-font-size;
    line-height: 27px;
  }
}

//set for footer down
html,
body {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  flex: 0 0 auto;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong,
b,
.bold {
  font-family: $bold_font;
}

.title-wrap {
  .undertitle {
    font-family: $regular_font;
    @include mq(tablet-wide, max) {
      text-align: center;
    }
  }
}
.text-gradient {
  background: $title-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//main btn
.button {
  @include flex-center;
  // padding: 18px 48px;
  height: 59px;
  width: 216px;
  font-size: 18px;
  font-family: $medium_font;
  background: $main-bg-gradient;
  border-radius: 8px;
  border: 0;
  color: $primary_color;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease-out;
  @include mq(tablet-wide, max) {
    padding: 13px 16px;
  }
  @include mq(m, max) {
    padding: 13px 10px;
  }
  &:hover {
    color: $secondary_color;
    // background: linear-gradient(0deg, #ccc, #ccc);
    background: darken($color: $white, $amount: 10%)
  }
}


//for section
.content {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

//overlay for section
.bg-overlay {
  // background-color: rgba(209, 166, 132, 0.8);
  background-color: $bg-overlay;
  opacity: 0.8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

img{
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: $primary_color;
  text-decoration: none;
  &:hover {
    color: darken($color: $primary_color, $amount: 10%);
  }
}


// color classes
.white-color{
  color: $white;
}
.primary-color{
  color:  $primary_color;
}
.primary-background{
  background-color:  $primary_color;
  color: $white;

  .content-header, .preview-font{
      color: $white;
  }
}


.secondary-color{
  color: $secondary_color;
}
.secondary-background{
  background-color:  $secondary_color;
}

.white-background{
  background-color: $white;
}


.text-center {
  text-align: center;
}
.hide {
  display: none;
}

//general set for slick sleder when load
.custom-slider {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;

  &.slick-initialized {
    height: auto;
    overflow: inherit;
    visibility: visible;
    opacity: 1;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.no-scroll {
  overflow: hidden;
}

.d-block {
  display: block;
}