@font-face {
  font-family: 'Druk Wide Medium';
  src: url('../fonts/druk-wide/Druk-Wide-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Druk-Wide-Regular';
  src: url('../fonts/druk-wide/Druk-Wide-Medium-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Yorkten-Slab-Regular';
  src: url('../fonts/yorkten-slab/Yorkten-Slab-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/helvetica/helveticaneuecyr-medium.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/helvetica/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/helvetica/helveticaneuecyr-medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/helvetica/helveticaneuecyr-medium.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/helvetica/helveticaneuecyr-medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/helvetica/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg');
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url('../fonts/helvetica/HelveticaNeueCyr-Thin.eot');
  src: url('../fonts/helvetica/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url('../fonts/helvetica/HelveticaNeueCyr-Roman.eot');
  src: local('../fonts/helvetica/HelveticaNeueCyr-Roman'),
    url('../fonts/helvetica/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../fonts/helvetica/HelveticaNeueCyr-Bold.eot');
  src: local('../fonts/helvetica/HelveticaNeueCyr-Bold'),
    url('../fonts/helvetica/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}