//colors
$primary_color: #ffffff;//
$white: #ffffff;
$secondary_color: #353535;
$third_color: #57A4F5;//
$lemon_color: #FFDF6D;
$main-bg: #0A111A;//
$main-bg-gradient: linear-gradient(261.04deg, #5AACF8 -5.62%, #395FE4 106.69%);
$placeholder_color: rgba(255, 255, 255, 0.5);//
$rose: #F08BB9;


$grey: #E8DCD0;

$second_white: #FFF9F2;
$third_white: #F2F2F2;
$off_white: #F6F6F6;
$dark_grey: #656565;
$base_font_color: #515151;
$main_button_color: #F15F30;
$orange: #DA5429;
$bg-overlay: #D1A684;

$base-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 22px;

// fonts
$light_font: 'Gilroy-Light', sans-serif; //300

// $normal_font: 'Yorkten-Slab-Regular', sans-serif; //400
$regular_font: 'HelveticaNeueCyr-Medium', sans-serif; //500
$helvetca_reg_font: 'Helvetica Neue Cyr', sans-serif; //400
$light_font: 'Helvetica Neue Cyr Thin', sans-serif; //300
$medium_font: 'Druk-Wide-Medium', sans-serif; //600
$number_font: 'Roboto-Bold', sans-serif; //700


$bold_font: 'Gilroy-Bold', sans-serif; //700
$count_reg_font: 'Coolvetica-Regular', sans-serif;
$count_bold_font: 'Coolvetica-Bold', sans-serif;